@using ECommerce_Template_MVC.Models.ViewModel;
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<section class="bg-account">
    <div class="w-users-userformpagewrap page-wrapper">
        <div class="w-users-userloginformwrapper log-in-form-block">
            <img src="images/Webclip---Red.png" loading="lazy" width="54" alt="" class="image-3">
            <form data-wf-user-form-type="login" data-wf-user-form-redirect="/" method="post">
                <div class="w-users-userformheader">
                    <h2>Login</h2>
                </div><label for="Email">Email</label><input type="email" maxlength="256" placeholder="" name="Email" id="wf-log-in-email" class="w-input" autocomplete="username" required="" data-wf-user-form-input-type="email"><label for="Password">Password</label><input type="password" maxlength="256" placeholder="" name="Password" id="wf-log-in-password" class="w-input" required="" data-wf-user-form-input-type="password"><input type="submit" value="Log In" data-wait="Please wait..." class="w-users-userformbutton btn w-button">
                <div class="w-users-userformfooter form-footer">
                    <span class="text-span">Don&#x27;t have an account?</span>
                    <a asp-action="Register" class="link-block w-inline-block">Sign Up</a>
                </div>
            </form>
            <a href="forgetpassword.html" class="link">Forgot Password?</a>
            <div class="div-demo">
                <a href="#" class="btn demo w-button">DEMO CLIENT</a>
                <a href="#" class="btn demo w-button">DEMO ADMIN</a>
            </div>
            <div style="display:none" data-wf-user-form-error="true" class="w-users-userformerrorstate w-form-fail">
                <div class="user-form-error-msg" wf-login-form-general-error-error="We&#x27;re having trouble logging you in. Please try again, or contact us if you continue to have problems." wf-login-form-invalid-email_or_password-error="Invalid email or password. Please try again.">We&#x27;re having trouble logging you in. Please try again, or contact us if you continue to have problems.</div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
