@model ECommerce_Template_MVC.Models.ApplicationUser

<!-- ... -->

<form asp-action="Register" method="post">
    <input asp-for="Email" placeholder="email"/>
    <input asp-for="Nom" placeholder="nom"/>
    <!-- ... otros campos ... -->
    <input name="Password" type="password" />
    <button type="submit">Registrarse</button>
</form>