
<div class="content-section">
    <div class="container">
        <div class="shop-page-wrapper">
            <div class="shop-category-menu">
                <h2 class="category-menu-heading">Shop by Category</h2>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="category-menu-item w-dyn-item">
                            <a href="#" class="btn dark outline cat-menu w-button"></a>
                        </div>
                    </div>
                    <div class="w-dyn-empty">
                        <div>No items found.</div>
                    </div>
                </div>
            </div>
            <div class="shop-list">
                <div class="products-list-wrapper w-dyn-list">
                    <div role="list" class="products-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div class="shop-item-wrapper">
                                <a href="#" class="shop-item-link-wrapper w-inline-block">
                                    <div class="shop-image tumbler-1 narrow-list">
                                        <div class="pill-2 badge primary sale">Sale</div>
                                    </div>
                                    <div class="shop-details-wrapper">
                                        <div class="shop-details-left">
                                            <div class="shop-item-name"></div>
                                            <div class="price-wrapper">
                                                <div class="shop-item-price"></div>
                                                <div class="shop-item-price compare"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="shop-button-wrapper">
                                    <a href="#" class="btn w-button">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-dyn-empty">
                        <div>No items found.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>