@model int

<div class="container row pt-4 pb-5">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Commande passée avec succès !</h1>
        Votre numéro de commande est : @Model <br /><br />
        <img src="~/images/Confirmation.jpg" width="45%" />
    </div>

</div>

